.botao {
    background-color: blue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding: 10px;
}

div button {
    margin: 100px;
}

#botaoMensagem {
    border-color: yellow;
    border-width: 5px;
}